.starRating{
  display        : inline-block;
  overflow       : hidden;
  vertical-align : bottom;

  & > input {
    margin-right : -100%;
    opacity      : 0;
  }

  & > label {
    display         : block;
    float           : right;
    position        : relative;

    &:before {
      content         : '';
      display         : block;
      opacity         : 0;
    }

  }

}

.starRating > label:hover:before,
.starRating > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
  cursor: pointer;
}
